/** GENERAL **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 5vh;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'PT Sans', sans-serif;

    min-height: 600px;
    min-width: 800px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: inherit;
    text-decoration: none;
    // padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

body, html {
  font-family: Verdana, sans-serif;
  background-color: #ddd;
  -webkit-font-smoothing: antialiased;

  /* background: url(http://farm8.staticflickr.com/7022/6832135787_d53ee5a487_o.jpg); */
  pointer-events: none;
}

/** STEP STYLES **/
section {
  display: block;

  text-align: center;

  color: rgb(102, 102, 102);
  z-index: 1;
  text-shadow: 1px 1px 3px rgb(102, 102, 102);

  letter-spacing: 1px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  -webkit-transition: 1s;
  -moz-transition:    1s;
  -ms-transition:     1s;
  -o-transition:      1s;
  transition:         1s;

  pointer-events: auto;
  font-size: 5vh;
}

@media (max-width: 640px) {
  section {
    width: 640px;
    min-height: 50px;
    max-height: 480px;
  }
}

@media (min-width: 641px) and (max-width: 800px) {
  section {
    width: 800px;
    min-height: 50px;
    max-height: 600px;
  }

  body {
    min-width: 640px;
    min-height: 480px;
  }
}

@media (min-width: 801px) {
  section {
    width: 1000px;
    min-height: 50px;
    max-height: 650px;
  }

  body {
    min-width: 1000px;
    min-height: 650px;
  }
}

.debug section {
  border: 2px solid red;
}

h1 {
  color: red;
  font-size: 10vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 5vh;
}

.small-random .active img,
.center-image img {
  height: auto;
  width: auto;
  max-width: 780px;
  max-height: 580px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
  .small-random .active img,
  .center-image img {
    max-width: 620px;
    max-height: 460px;
  }
}


.small-random .active img {
  max-width: 800px;
  width: 800px;
  max-height: 600px;

  @media (max-width: 640px) {
    max-width: 640px;
    max-height: 480px;
    width: 640px;ss
  }

}

.medium {
  width: 400px;
  height: 500px;
}

.medium img {
  height:auto;
  width:auto;
  max-width: 400px;
  max-height: 500px;
}

.contra-punta {
  max-width: 780px !important;
  max-height: 450px !important;
  transform: translate(-50%, -38%) !important;
}

@media (max-width: 640px) {
  .contra-punta{
    max-width: 620px !important;
    max-height: 350px !important;
    transform: translate(-50%, -38%) !important;
  }
}

img.center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -43%);
}

img.center-2 {
  position: relative;
  margin: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-85%, -50%);
}

.estun {
  height: 450px !important;
}

.estun img {
  height: 450px !important;
}

@media (max-width: 640px) {
  .img.center {
    transform: translate(-50%, -50%);
  }

  .img.center-2 {
    transform: translate(-90%, -50%);
  }
  .estun {
    height: 380px !important;
  }

  .estun img {
    height: 380px !important;
  }
}

.gigante {
  //font-size: 7em;
  font-size: 30vh;
}

.gigante-2 {
  //font-size: 5em;
  font-size: 25vh;
}

.gigante-3 {
  //font-size: 3.5em;
  font-size: 20vh;
}

.full-size {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height img{
  height: 580px;
}

@media (max-width: 640px) {
  .full-height img{
    height: 460px;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

img {
  height: 100%
}

.to-left {
  left: 0px;
}

.to-right {
  right: 0px;
}

h1, .league, .league-gothic, .pie {
  font-family: 'League Gothic';
  font-weight: normal;
  font-style: normal;
}

.pie, section p{
  font-size: 12vh;
}

#caratula h1.gigante {
  font-size: 20vh;
}

section#caratula {
  height: 600px;
}

#caratula .full-size {
  display: table;
  width: 800px;
}

#caratula .vertical {
  display: table-cell;
  vertical-align: middle;
  width: 800px;
}

#caratula h1 {
  padding-top: 15%;
  padding-bottom: 5%;
}

img.logo {
  position: absolute;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

div.logo {
  height: 100px;
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  top: 10px;
}

@media (max-width: 640px) {
  #caratula h1.gigante {
    font-size: 20vh;
  }

  section#caratula {
    height: 480px;
  }

  #caratula .full-size {
    display: table;
    width: 640px;
  }

  #caratula .vertical {
    display: table-cell;
    vertical-align: middle;
    width: 640px;
  }

  #caratula h1 {
    padding-top: 85px;
    padding-bottom: 5px;
  }

  /* h2 { */
  /*   font-size: 1em; */
  /* } */

  /* h3 { */
  /*   font-size: 0.8em; */
  /* } */

  img.logo {
    position: absolute;
    height: 80px;
    padding-left: 1%;
    padding-right: 1%;
  }

  div.logo {
    height: 80px;
    width: 100%;
    padding-bottom: 1%;
    position: absolute;
    top: 1%;
  }

  .medium {
    width: 640px;
    height: 400px;
  }

  .medium img {
    height:auto;
    max-width: 640px;
    height: 390px;
  }
}

span.hito {
  color: green;
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 20vh;
  transform: translate(0%, -50%);
}

.small-random img {
  max-width: 500px;
  height: auto;
}

.small-random .active img {
  max-width: 780px;
  max-height: 580px;
  z-index:   1000;
}

@media (max-width: 640px) {
  .small-random .active img {
    max-width: 620px;
    max-height: 460px;
  }
}

.video-container {
  max-width: 780px;
  max-height: 580px;
}

video {
  max-width: 780px;
  max-height: 580px;
  width: auto;
  height: auto;
}

.rotate-90 {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

video.rotate-90 {
  max-width: 580px;
  max-height: 780px;
}

@media (max-width: 640px) {
  .video-container,
  video {
    max-width: 620px;
    max-height: 460px;
  }

  video.rotate-90 {
    max-width: 460px;
    max-height: 620px;
  }

}


!.active .hito {
  display: none;
}

.img-45 {
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto;
}
